body {

}

/* Navigation */
#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding-left: 5%;
  border-bottom: 10px solid blue;
  border-color: rgba(0,174,239,1);
  position: sticky;
  top: 0px;
  background-color: white;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#logo {

}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  padding-left: 30%;
}
.icons img {
  width: 50px;
  height: 50px;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  background-color: rgba(0,174,239,0.5);
  border-radius: 50%;
}

#sidebar2 {
  position: sticky;
  top: 250px;
  width: 250px;
  
}
/* mainContent flexbox */
#mainContent {
  margin: 0px 1%;
  display: grid;
  grid-template-rows: 520px 200px 200px 200px;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-areas:
  "sidebar heroSection heroSection heroSection"
  "sidebar skills exp exp"
  "sidebar skills exp exp"
  ;
}

#sidebar {
  grid-area: sidebar;

}
#heroSection {
  grid-area: heroSection;
  background-image: url("/img/heroimg.png"); /*heroimg.png*/
  object-fit: fill;
  background-repeat: no-repeat;
}
#skills {
  grid-area: skills;
  padding-right: 25px;
}
#exp {
  grid-area: exp;
  padding-right: 25px;
}

/* Sidebar */
.leftNav {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  font-weight: 700;
  color: rgba(0,174,239,1);
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  top: 245px;
  width: 15%;
  left: 1%;
  background-color: white;
  z-index: -1;
}
.leftNavList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.leftNavList li {
  padding: 10px;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid rgba(0,174,239,1);
  border-width: 3px; 
  display: inline-block;
}

/* Content Sections */
.textStyles {
  /*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  */
}
.textStyles h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  font-weight: 700;
  color: rgba(0,174,239,1);
  text-transform: uppercase;
}
.textStyles h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  color: rgba(109,109,109,1);
  text-transform: uppercase;
}
.textStyles h3 {
  font-family: 'Playfair Display', serif;
  font-size: 12pt;
  font-weight: 200;
  color: rgba(0,174,239,1);
  text-transform: none;
}
.textStyles p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(109,109,109,1);
  text-transform: none;
}
.line {
  border-bottom: 2px solid rgba(0,174,239,1);
  width: 100%;
}

/* Footer */
.footer {
  position: relative;
  bottom: -500px;
  color: rgba(0,174,239,0)
}

/* Junk */
.relative {
  background-color: lightblue;
  height: 250px;
  padding: 30px;
  margin: 10px;
  display: flex;
  position: relative;
}
.absolute {
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}
.fixed {
  height: 200px;
  width: 200px;
  background-color: green;
  position: fixed;
  bottom: 0;
  right: 0;
}
